body{
  background-color: antiquewhite;
}

*{
  margin: 0;
  padding: 0;
}
nav{
  font-family: 'Playfair', serif;
}

nav ul{
  display: flex;
  list-style-type: none;
  height: 65px;
  background-color:black;
  color: rgb(132, 139, 194);
  align-items: center;
}
nav ul li{
  font-weight: bold;
  padding: 0 15px;
  font-size: 1.1rem;
  cursor: pointer;
}
.brand img{
  width:45px;
  height:48px;
  padding: 0 8px;
}

.brand{
  display: flex;
  align-items: center;
margin-right: 2vw;
  font-size: 2rem;
}

nav .items:hover{
  color: white
}


.container{
  min-height: 72vh;
  background-color: black;
  color:white;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
padding: 34px;
background-image: url("images/music_bg.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.songListItem{
  margin-top:74px;
  /*display: flex;
  flex-direction: column;*/
}
.songItem{
  height: 50px;
  display: flex;
  gap:6vw;
  background-color: white;
  color: black;
margin: 12px 0;
justify-content: space-between;
align-items:center;
border-radius: 34px;
}

.songItem img{
width: 40px;
margin: 0 25px;
border-radius: 50%;
}
.timestamp{
  margin:0 23px;
}
.timestamp i{
  cursor: pointer;
padding-left: 5px;
}
.bottom{
  position:sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.icons{
  margin-top: 12px;
}

.icons i{
  padding: 10px;
  cursor: pointer;
}
#ProgressBar{
  width: 80vw;
  cursor: pointer;
}
.songInfo{
  position: absolute;
  left:10vw;
}
.songInfo img{
  opacity:0;
  transition: opacity 0.5s ease-in;
}

.songInfo{
  margin-top: 15px;
}
#songBarName{
  padding: 5px 5px;
  font-size:25px;
}

.runningTime{
  position: absolute;
  right:10vw;
  margin-top: 10px;

}
#volume{
  position: absolute;
  right:6vw;
  bottom:7vh;

  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: bottom right

}
#volume i{
  transform: rotate(-90deg);
  margin-left: 20px;
}

.volumeControl{
  cursor: pointer;
transform: rotate(-180deg);

}

.volumeBarVisibility{
  display: none;
}
